* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
}


/* Header */

/* Header */

header {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


/* Logo */

.logo {
    width: 190px;
    height: auto;
    object-fit: contain;
}


/* Navigation */

nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

nav a {
    color: #333;
   font-size: 18px;
    font-weight: 300px;
    padding: 10px 0;
    transition: 0.3s;
}

nav a:hover {
    color: #a17a2b;
}


/* Active navigation */

nav a.active {
    color: #a17a2b;
    border-bottom: 2px solid #a17a2b;
}


/* Banner */

.explore-banner {
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
}

.banner-content {
    color: white;
}

.banner-content p {
    font-size: 13px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.banner-content h1 {
    font-family: Georgia, serif;
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 15px;
}

.banner-content span {
    font-size: 15px;
    letter-spacing: 1px;
}


/* Products */

.products-section {
    padding: 70px;
}

.section-heading {
    text-align: center;
    margin-bottom: 40px;
}

.section-heading p {
    color: #a17a2b;
    font-size: 13px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.section-heading h2 {
    font-family: Georgia, serif;
    font-size: 38px;
    font-weight: 400;
}


/* Filter */

.filters {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.filter-btn {
    background-color: white;
    border: 1px solid #ccc;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s;
}

.filter-btn:hover,
.filter-btn.active {
    background-color: #222;
    color: white;
    border-color: #222;
}


/* Search  */


.search-box {
  display: flex;
  max-width: 420px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
}

.search-box input {
  flex: 1;
  padding: 10px 14px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-box button {
  padding: 10px 18px;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #333;
}

/* Product Grid */

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}


/* Product Card */

.product-card {
    background-color: white;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}


/* Product image */

.product-image {
    height: 320px;
    background-color: #f5f5f5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 25px;
}


/* Discount */

.discount {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #222;
    color: white;
    padding: 6px 10px;
    font-size: 11px;
    z-index: 2;
}


/* Heart */

.heart {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 50%;
    background-color: white;
    font-size: 23px;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

.heart:hover {
    color: #a17a2b;
}


/* Details */

.product-details {
    padding: 22px;
    text-align: center;
}

.brand {
    color: #999;
    font-size: 11px;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.product-details h3 {
    font-family: Georgia, serif;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 10px;
}

.stars {
    color: #b78a2c;
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 12px;
}


/* Price */

.price {
    margin-bottom: 18px;
}

.price strong {
    font-size: 18px;
    margin-right: 8px;
}

.price del {
    color: #999;
    font-size: 13px;
}


/* Cart button */

.cart-btn {
    width: 100%;
    padding: 13px;
    border: none;
    background-color: #222;
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.cart-btn:hover {
    background-color: #a17a2b;
}


/*  footer  */

footer {
    background-color: #111;
    color: white;
    padding-top: 55px;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    gap: 50px;
    padding-bottom: 45px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    width: 150px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer-column p {
    color: #aaa;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 10px;
}

.footer-column a {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 12px;
    transition: 0.3s;
}

.footer-column a:hover {
    color: white;
    padding-left: 5px;
}

.footer-bottom {
    border-top: 1px solid #333;
    width: 90%;
    margin: auto;
    padding: 22px 0;
    color: #777;
    font-size: 12px;
}